[Unit]
Description=Webserver Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/python3 /home/ubuntu/webserver/validator.py

[Install]
WantedBy=multi-user.target

